<html>
<body>
 <div class="login">
	<h1>Predict the horspower on the basis of mpg and cylinders</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="CredictScore" placeholder="Enter MPG" required="required" />
        	<input type="text" name="Age" placeholder="Enter Cylinders" required="required" />
	 
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>